<nav class="navbar navbar-dark bg-primary">
    <a class="navbar-brand" href="#!">CALC-TRADE</a>
</nav>
<div class="container">
    <div class="card mt-5">
        <div class="p-4">
            <form action="">
                <div class="form-group">
                    <label for="">Valor</label>
                    <input type="text" name="" class="form-control" id="valor">
                </div>
                <div class="form-group">
                    <label for="">Porcentaje</label>
                    <input type="text" name="" class="form-control" id="porcentaje">
                </div>
                <div class="form-group">
                    <label for="">Cantidad de operaciones</label>
                    <input type="text" name="" class="form-control" id="operaciones">
                </div>
                <input type="button" class="btn btn-primary w-100" value="Calcular" name="" (click)="calculator()">

                <p><span *ngFor="let val of valoresTotales, index as i"><span class="badge badge-light mx-2">{{i+1}}  {{val | currency}}</span> </span>
                </p>
            </form>
        </div>
    </div>
</div>