<nav class="navbar navbar-dark bg-primary">
    <a class="navbar-brand" href="#!">CALC-TRADE</a>
</nav>
<div class="container">
    <div class="card mt-5">
        <div class="p-4">
            <form action="">
                <div class="form-group">
                    <label for="">Valor</label>
                    <input type="text" name="" class="form-control" id="valor">
                </div>
                <div class="form-group">
                    <label for="">Porcentaje</label>
                    <input type="text" name="" class="form-control" id="porcentaje">
                </div>
                <div class="form-group">
                    <label for="">Cantidad de operaciones</label>
                    <input type="text" name="" class="form-control" id="operaciones">
                </div>
                <input type="button" class="btn btn-primary w-100" value="Calcular" name="" (click)="calculator()">
            </form>
        </div>
    </div>
    <div class=" mt-5 p-2">
        <!-- <p>
            <span *ngFor="let val of valoresTotales, index as i">

                Día {{i+1}} - <h1 class="badge badge-light mx-2">{{val | currency}}</h1> - {{gananciasTotales[i] | currency}} <br>

            </span>
        </p> -->
        <table class="table table-hover">
            <thead class="thead-dark">
              <tr>
                <th># Día</th>
                <th>Capital</th>
                <th>Ganancia</th>
                <th>Ganancia diaria</th>
                <th>$USD</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let val of valoresTotales, index as i">
                <th scope="row">{{i + 1}}</th>
                <td>{{val | currency}}</td>
                <td class="ganancia">+ {{gananciasTotales[i] | currency}}</td>
                <td class="ganancia">+ {{gananciasDiarias[i] | currency}}</td>
                <td class="usd">{{valoresTotalesUSD[i] | currency}}</td>
              </tr>
            </tbody>
          </table>
    </div>
</div>