/* You can add global styles to this file, and also import other style files */

body {
    background-color: #f3f3f3;
}

.ganancia{ 
    color: rgb(34, 111, 34);
}

.usd{ 
    color: rgb(34, 90, 111);
}